{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@components": "./components",
          "@api": "./pages/api",
          "@utils": "./utils",
          "@public": "./public",
          "@queries": "./queries",
          "@styles": "./styles",
          "@icons": "./icons",
          "@lib": "./lib"
        }
      }
    ]
  ]
}