{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-sass-guidelines",
		"stylelint-config-prettier"
	],
	"plugins": [
		"stylelint-order",
		"stylelint-selector-bem-pattern",
		"stylelint-declaration-use-variable",
		"stylelint-high-performance-animation",
		"stylelint-color-format",
		"stylelint-selector-no-empty"
	],
	"rules": {
		"order/order": [
			"custom-properties",
			"declarations"
		],
		"indentation": "tab",
		"order/properties-order": [
			"width",
			"height"
		],
		"plugin/selector-bem-pattern": {
			"componentName": "[A-Z]+",
			"componentSelectors": {
				"initial": "^\\.{componentName}(?:-[a-z]+)?$",
				"combined": "^\\.combined-{componentName}-[a-z]+$"
			},
			"utilitySelectors": "^\\.util-[a-z]+$"
		},
		"sh-waqar/declaration-use-variable": [
			[
				"color",
				"font-family"
			]
		],
		"plugin/no-low-performance-animation-properties": true,
		"plugin/stylelint-selector-no-empty": true,
		"property-no-vendor-prefix": null,
		"color-format/format": {
			"format": "rgb"
		}
	}
}