@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter.var.woff2") format("woff2");
}

/* ------------------------------------------------------- */

@font-face {
  font-family: "Inter";
  font-weight: 100;
  font-display: block;
  src: url("/fonts/Inter-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 200;
  font-display: block;
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-display: block;
  src: url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-display: block;
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-display: block;
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-display: block;
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-display: block;
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 800;
  font-display: block;
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-display: block;
  src: url("/fonts/Inter-Black.woff2") format("woff2");
}
