/* HTML & Body */
html,
body {
	background-color: var(--color-white);
	color: var(--color-black);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/* Psuedo-elements */
::selection {
	background-color: var(--color-black);
	color: var(--color-white);
}

/* Buttons */
a {
	color: var(--color-blue);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

/* Images */
img,
svg {
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}
