.button {
	border-radius: var(--border-radius);
	color: var(--color-white);
	font-weight: 500;
	margin-top: rem-calc(20px);
	padding: rem-calc(12px 30px);
	transition: background-color var(--transition-duration) ease-in-out;

	&--primary {
		background-color: var(--color-primary);

		&:hover {
			background-color: var(--color-primary-light);
		}
	}

	&--secondary {
		background-color: var(--color-secondary);

		&:hover {
			background-color: var(--color-secondary-light);
		}
	}

	&:focus {
		outline: 0;
	}

	@media screen and (min-width: 768px) {
		margin-top: 0;
	}
}
