$font-inter: "Inter";
$font-inter-var: "Inter var";

@font-face {
	font-display: block;
	font-family: $font-inter-var;
	font-style: normal;
	font-weight: 100 900;
	src: url("/fonts/Inter-Roman.var.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter-var;
	font-style: italic;
	font-weight: 100 900;
	src: url("/fonts/Inter-Italic.var.woff2") format("woff2");
}

/* ------------------------------------------------------- */
@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 100;
	src: url("/fonts/Inter-Thin.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 200;
	src: url("/fonts/Inter-ExtraLight.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 300;
	src: url("/fonts/Inter-Light.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 400;
	src: url("/fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 500;
	src: url("/fonts/Inter-Medium.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 600;
	src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 700;
	src: url("/fonts/Inter-Bold.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 800;
	src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
}

@font-face {
	font-display: block;
	font-family: $font-inter;
	font-weight: 900;
	src: url("/fonts/Inter-Black.woff2") format("woff2");
}
