/* Disable scrolling */
.no-scroll {
	height: 100vh;
	overflow: hidden;
	touch-action: none;
}

/* Line clamping */
.line-clamp {
	box-orient: vertical;
	display: box;
	-webkit-line-clamp: 1;
	overflow: hidden;

	&--2 {
		-webkit-line-clamp: 2;
	}

	&--3 {
		-webkit-line-clamp: 3;
	}

	&--4 {
		-webkit-line-clamp: 4;
	}
}
