:root {
  /* Colors */
  --color-black: hsl(0, 0%, 0%);
  --color-white: hsl(0, 0%, 100%);

  /* Font related */
  --font-inter: "Inter", "sans-serif";
  --font-inter-var: "Inter var", "sans-serif";
}