:root {
	/* Colors */
	--color-black: rgb(0, 0, 0);
	--color-white: rgb(255, 255, 255);
	--color-gray: rgb(100, 100, 100);
	--color-blue: rgb(6, 69, 173);
	--color-blue-light: rgb(3, 158, 227);

	/* Font */
	--font-inter: "Inter", "sans-serif";
	--font-inter-var: "Inter var", "sans-serif";
	--font-size: 16px;
	--font-line-height: 1.5;

	/* Grid */
	--grid-max-width: 1060px;
	--grid-padding: 0 20px;
	--grid-margin: 0 auto;

	/* Breakpoints */
	--screen-sm: 576px;
	--screen-md: 768px;
	--screen-lg: 992px;
	--screen-xl: 1024px;

	/* Other */
	--border-radius: 5px;
	--transition-duration: 250ms;
}
