.cookie-notice {
	background-color: var(--color-white);
	border: 1px solid rgb(245, 245, 245);
	border-radius: rem-calc(10px);
	box-shadow: rem-calc(0 6px 9px) rgba(0, 0, 0, 0.15);
	padding: rem-calc(25px);

	&__wrapper {
		bottom: rem-calc(20px);
		left: 0;
		margin: 0 auto;
		max-width: rem-calc(645px);
		opacity: 0;
		padding: var(--grid-padding);
		position: fixed;
		right: 0;
		transform: translateY(100%);
		width: 100%;
		z-index: 9999;

		&--hidden {
			display: none;
		}

		&--active {
			animation-delay: 750ms;
			animation-duration: 1000ms;
			animation-fill-mode: forwards;
			animation-name: cookieBar;
		}
	}

	&__content {
		p {
			margin: 0;
		}

		a {
			color: var(--color-black);
			font-weight: 600;
			transition: color var(--transition-duration) ease-in-out;

			&:hover {
				color: var(--color-gray);
				text-decoration: none;
			}
		}
	}

	@media screen and (min-width: 768px) {
		padding: rem-calc(30px);

		&__wrapper {
			bottom: rem-calc(40px);
		}
	}
}
